*
.DS_Store
!setup.sh
!README.md
!.gitignore

# Track everything in these directories
!zed/
!zed/**
!btop/
!btop/**
!fish/
!fish/**
!hypr/
!hypr/**
!rofi/
!rofi/**
!setup/
!setup/**
!waybar/
!waybar/**
