* {
    font-family: "Noto Sans Mono", monospace;
    font-size: 12px;
    font-weight: 500;
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

window#waybar {
    background-color: rgb(0, 0, 0);
}

#workspaces {
    padding: 0;
}

#workspaces button {
    padding: 0 12px;
}

#workspaces button.active {
    background-color: rgb(65, 65, 65);
}

.modules-left,
.modules-center,
.modules-right,
.module {
    padding: 0 12px;
}
